body {
    margin: 0;
}

.container {
    width:100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 50px 1fr 1fr 100px;

    gap: 10px;
    
    padding: 10px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
}

.header {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("./background.webp");
    
}

.header_text {
    text-align: center;
    margin-top: 100px;
    color: rgb(238, 230, 222);
    font-size: 9vw;
    font-size: 9vh;
    stroke-width: 100px;

}

.header_subtext {
    color: rgb(238, 230, 222);
    font-size: 3vw;
    font-size: 3vh;
}


.content-large {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 2vw;
    font-size: 2vh;
}

.content-small {
    border: 1px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.footer {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 70%;
    font-size: 70%;
    text-align: center;
}

/* Styling the products display */ 
img { 
    float: left; 
    height: 300px;
    width: auto;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding: 5px;
    /* Some padding */
  
  }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    opacity: 0.5;
  
  } 
  


