/* The navigation bar */
.navbar {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  .items_right {
    float: right;
  }

body {
    margin: 0;
    margin-bottom:30px;
    background-color:rgb(233, 221, 210);
}

  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.container {
    width:100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 400px 1fr 30px 1fr;

    gap: 10px;
    
    padding: 10px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;

}

.header {
    border: 2px solid rgb(100, 110, 101);
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../images/background.webp");
    font-size: 8vw;
    font-size: 8vh;
    color: rgb(238, 230, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
}

.content-smaller-header {
    text-align: center;
    font-size: 25px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 7;
}


.content-smaller {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 7;

    
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 

    gap: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


input[type=submit] {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 2px solid #000000;
    height: 60px;
    width: 180px;
    margin:0 auto;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
}

input[type=submit]:hover {
    border: 3px solid rgb(255, 255, 255);
  }

  input[type=submit]:active {
    background-color: rgb(255, 255, 255);
    border: 2px solid #c7c7c7;
    color:rgb(32, 32, 32);
  }

  
