/* The navigation bar */
.navbar {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 15px;
  overflow: hidden;
  background-color: rgb(24, 24, 24);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
.items_right {
  float: right;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

body {
    margin: 0;
    background-color:rgb(233, 221, 210);
}
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.container {
    width:100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 450px 1fr 1fr 100px;

    gap: 10px;
    

    box-sizing: border-box;
}

.container div {
    padding: 10px;
}

.header {
    border: 3px solid rgb(100, 110, 101);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../images/background.webp");
    font-size: 350%;
    color: rgb(250, 244, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    background-size: 100%;
    
}

/* The navigation bar */
.navbar_products {
  border: 2px solid rgb(0, 0, 0);
  grid-column-start: 1;
  grid-column-end: 2;
  color:rgb(245, 240, 235);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 17px;
  overflow: hidden;
  background-color: rgb(24, 24, 24); 
  min-width: 120px; 

}

/* Links inside the navbar */
.navbar_products a {
  color: #f2f2f2;
  text-decoration: none;
  
}

.navbar_header {
  font-size: 25px;
}

/* Change background on mouse-over */
.products_page:hover {
  background-color: rgb(224, 224, 224);
  padding-right: 100px;
  color: black;
}

.content-large {
    border: 2px solid rgb(168, 159, 142);
    grid-column-start: 2;
    grid-column-end: 6;
    font-weight: 3;
    color:gray;
    font-size: 15px;
    background-color:rgb(245, 240, 235);
}

.product_slot {
    border: 2px solid rgb(231, 220, 199);
    display:inline-block;
    margin: 8px;

}

.item_properties {
    text-align: center;
    background-color: white;
    line-height: 8px;
    margin-top:0px;

}

.bad_input {
  color: rgba(255, 0, 0, 0.788);
  font-size:12px;
}

h3 {
    text-align: center;
}

h2 {
  font-size: 18px;
  padding-bottom:8px;
  color:black;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 12px;
    color:rgb(212, 210, 206);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    margin:0px;
    line-height: 7px;
    height:150px;
}

.shipping_header {
  margin-top:20px;
  font-size: 20px;
}

/* Styling the products display */ 
img { 
    float: left; 
    height: 250px;
    width: auto;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding: 5px;
    padding-bottom: 20px;
    
  
  }

  input[type=submit] {
    padding:5px; 
    border:2px solid #ccc; 
    border-radius: 5px;
    color: white;
    background-color: #d49787;
    border: 2px solid #b68173;
    padding: 25px 50px;
    margin:0 auto;
    display:block;
  
  }
  
  input[type=submit]:hover {
    opacity: 0.5;
  }

  input[type=submit]:active {
    opacity: 0.7;
  }

input[type=text] {
  width: 27px;
  text-align: center;
}

.user_cart {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.user_cart a img{ 
  float: right;
  margin-right: 15px;
  height: 90px;
}

