body {
    margin: 0;
    margin-bottom:30px;
    background-color:rgb(233, 221, 210);
}

/* Navigation bar adapted from https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
.navbar {
    overflow: hidden;
    background-color: rgb(22, 22, 22);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 80%;
    float: right;
    display: block;
    color: #f8f3ec;
    text-align: center;
    padding: 13px 7px;
    padding-right: 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(224, 222, 219);
    color: rgb(39, 37, 36);
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.container {
    width:100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 50px 1fr 1fr 100px;

    gap: 10px;
    
    padding: 10px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;

}

.header {
    border: 2px solid rgb(100, 110, 101);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../images/background.webp");
    font-size: 8vw;
    font-size: 8vh;
    color: rgb(238, 230, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-smaller {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    

}

input[type=submit] {
    color: white;
    background-color: #d49787;
    border: 2px solid #b68173;
    padding: 25px 50px;
    margin:0 auto;
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

input[type=submit]:hover {
    opacity: 0.5;
  }